@{
    ViewBag.Title = "من نحن";
   
}
<div class="">
    <div class="subContainer">
        <h1>من نحن</h1>

        <p>نحن شركة متخصصة في شراء الأثاث المستعمل بالرياض، نهدف إلى توفير خدمات شاملة ومريحة لعملائنا. نقدم حلولاً فعالة للأفراد والعائلات الراغبة في بيع الأثاث المنزلي بطريقة سريعة ومربحة.</p>

        <h2>رسالتنا</h2>

        <p>رسالتنا هي تقديم خدمة احترافية وموثوقة في شراء الأثاث المستعمل، مع التزامنا بالنزاهة والشفافية مع كل عملية شراء.</p>

        <h2>خدماتنا</h2>

        <ul>
            <li>شراء الأثاث المنزلي المستعمل بأسعار عادلة ومناسبة.</li>
            <li>خدمة التنقل والنقل للأثاث المباع بشكل آمن وفعال.</li>
            <li>دعم ما بعد البيع لضمان رضا العملاء الكامل.</li>
        </ul>

        <h2>لماذا نحن؟</h2>

        <p>نحن نتميز بخبرة طويلة في سوق شراء الأثاث المستعمل، ونقدم عملية بيع سهلة وسلسة دون تعقيدات. كما نقدم أسعارًا تنافسية وعادلة لجميع الأثاث المقدم لنا.</p>

        <h2>اتصل بنا</h2>

        <p>للمزيد من المعلومات حول خدماتنا أو لتحديد موعد لشراء الأثاث، يرجى التواصل معنا عبر:</p>

        <ul>
            <li> الهاتف: <a href="tel:+1158066045">01158066045</a></li>
            <li>البريد الإلكتروني: <a href="mailto:waelbadr3322gmail.com">waelbadr3322gmail.com</a></li>
        </ul>
    </div>
</div>