
@{
    ViewBag.Title = "خدماتنا";
}


<div class="container">
    <div class="subContainer">
        <h1>خدماتنا</h1>

        <div class="service-item">
            <h2>شراء الأثاث المستعمل</h2>
            <p>نقوم بشراء جميع أنواع الأثاث المستعمل بأسعار تنافسية وبشكل عادل. سواء كانت غرف الجلوس، غرف الطعام، أو أي قطع أخرى من الأثاث المنزلي.</p>
        </div>

        <div class="service-item">
            <h2>شراء التكيفات والمبردات</h2>
            <p>نحن نقدم خدمة شراء التكيفات والمبردات المستعملة بأسعار جيدة ونقدم عروضًا ملائمة للعملاء.</p>
        </div>

        <div class="service-item">
            <h2>شراء المطابخ</h2>
            <p>نقدم خدمة شراء المطابخ المستعملة بمختلف أنواعها وأحجامها. يشمل ذلك الخزائن، الأفران، والحوامل.</p>
        </div>
        <div class="service-item">
            <h2>شراء الاجهزة الكهربائية </h2>
            <p>نقدم خدمة شراء المطابخ المستعملة بمختلف أنواعها وأحجامها. يشمل ذلك الخزائن، الأفران، والحوامل.</p>
        </div>

        <div class="service-item">
            <h2>شراء غرف النوم</h2>
            <p>نقوم بشراء غرف النوم المستعملة بما في ذلك الأسرة، الدواليب، والمرايا، بأسعار مناسبة وبمستوى جودة عالٍ.</p>
        </div>

        <div class="service-item">
            <h2>شراء أدوات المطاعم المستعملة</h2>
            <p>نقدم خدمة شراء أدوات المطاعم المستعملة مثل التربيزات ، والكراسي، وأدوات المطبخ بشكل عام بأسعار تنافسية.</p>
        </div>

        <h2>اتصل بنا</h2>

        <p>للحصول على مزيد من المعلومات حول خدماتنا أو لتحديد موعد لشراء أثاثك المستعمل، يرجى التواصل معنا عبر:</p>

        <ul>
            <li>الهاتف: <a href="tel:+1158066045">01158066045</a></li>
            <li>البريد الإلكتروني: <a href="mailto:waelbadr332@gmail.com">waelbadr332@gmail.com</a></li>
        </ul>
    </div>
   
</div>
